/* Arquivo de Media Query para todas as telas */

/* Media query para telas menores */
@media screen and (max-width: 768px) {
    .header-title {
        
        font-size: 1.5rem;
    }

@media (max-width: 450px) {
        .swiper {
          height: 270px;
        }
      }
}

@media (min-width: 80px) and (max-width: 179px) { /* #1 */

    .divNav1 ul {
        display: flex;
        width: 100%;
        height: 80px;
        align-items: center;
        justify-content: center;
    }
    
    .divNav1 a {
        font-size: 13px;
        align-items: center;
        justify-content: center;
    }
    
    .divTitulo {
        height: 120px ;
    }
    
    .header-title {
        width: 250px;
        font-size: 18px;
        padding: 0px 20px 0px 0px;
    }
    
    #LogoPrincipalEscola {
        width: 100%;
        height: 110px;
        padding-left: 15px;
    }
    
    .menuFlex {
        height: 60px;
    }
    
    .menuFlex li{
        align-items: center;
        justify-content: center;
        
    }
    
    .menuFlex a {
        font-size: 13px;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    }
    
    h2, h3{
        font-size: 18px;
    }
    
    h2 {
        margin-top: 0px;
        padding-top: 0px;
        padding-bottom: 5px;
    }
    
    p {
        font-size: 13px;
    }
    
    #text-missao li{
        font-size: 13px;
    }
    
    #textEndereco {
        font-size: 18px;
    }
    
    #donateBtn {
        font-size: 13px;
    }
    
    #fotoNossaInstituicao {
    
        padding-left: 25px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        width: 90%;
    }
    
    #fotoMissao {
        padding-left: 25px;
        width: 93%;
        margin-top: 0px;
        padding-top: 0px;
    }

    .fa-phone, .fa-clock, .fa-envelope1 {
        display: none;
    }
    
   
    #contatos i {
        width: 5%;
    }
    
}
/* ---------------------------------- */

@media (min-width: 180px) and (max-width: 279px) { /* #2 */

    .divNav1 ul {
        width:100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .divNav1 a {
        font-size: 12px;
        align-items: center;
        justify-content: center;
    }
    
    .divTitulo {
        height: 120px ;
    }
    
    .header-title {
        width: 100%;
        font-size: 15px;
        padding: 0px 20px 0px 0px;
    }
    
    #LogoPrincipalEscola {
        width: 100%;
        height: 120px;
        padding-left: 10px;
        padding-right: 5px;
    }
    
    .menuFlex {
        width: 100%;
        height: 70px;
    }
    
    .menuFlex li{
        align-items: center;
        justify-content: center;
        
    }
    
    .menuFlex a {
        font-size: 13px;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        height: 70px;
    }
    
    h2, h3{
        font-size: 15px;
    }
    
    h2 {
        margin-top: 0px;
        padding-top: 0px;
        padding-bottom: 5px;
    }
    
    p {
        font-size: 13px;
    }
    
    #text-missao li{
        font-size: 13px;
    }
    
    #textEndereco {
        font-size: 18px;
    }
    
    #donateBtn {
        font-size: 13px;
    }
    
    #fotoNossaInstituicao {
    
        padding-left: 25px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        width: 90%;
    }
    
    #fotoMissao {
        padding-left: 25px;
        width: 93%;
        margin-top: 0px;
        padding-top: 0px;
    }

    #fotoEstrutura, #fotoComunidade, #fotoFuncionamento, #fotoMatricula{

        padding-left: 25px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        width: 95%;
        margin-top: 25px;
        padding-top: 10px;
    
    }
    
    #fotoEnsino, #fotoServidores, #fotoRedesSociais, #fotoProcesso {
        padding-left: 25px;
        width: 97%;
        margin-top: 0px;
        padding-top: 0px;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    
    
    .fa-phone, .fa-clock, .fa-envelope1 {
        display: none;
    }
    
    #contatos i {
        width: 5%;
    }

    footer {
        width: 350px;
    }

}
/* ----------------------------------- */

@media (min-width: 280px) and (max-width: 379px) { /* #3*/

.divNav1 ul {
    width:100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divNav1 a {
    font-size: 13px;
    align-items: center;
    justify-content: center;
}

.divTitulo {
    height: 140px ;
}

.header-title {
    width: 100%;
    font-size: 16px;
    padding: 0px 20px 0px 0px;
}

#LogoPrincipalEscola {
    width: 180px;
    height: 100px;
    padding-left: 15px;
    padding-right: 10px;
}

.menuFlex {
    height: 70px;
    width: 100%;
}

.menuFlex li{
    align-items: center;
    justify-content: center;
    height: 70px;
    
}

.menuFlex a {
    font-size: 13px;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: 70px;
}

#titleInformacoes {
    font-size: 16px;
    margin-bottom: 0px;
    
}

h2, h3 {
    font-size: 16px;
}

h2 {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
}

p, td, th {
    font-size: 13px;
}

#text-missao li{
    font-size: 13px;
}

#textEndereco {
    font-size: 18px;
}

#donateBtn {
    font-size: 13px;
}

#fotoNossaInstituicao {

    padding-left: 25px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: 90%;
}

#fotoMissao {
    padding-left: 25px;
    width: 93%;
    margin-top: 0px;
    padding-top: 0px;
}

#fotoEstrutura, #fotoComunidade, #fotoFuncionamento, #fotoMatricula{

    padding-left: 25px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: 95%;
    margin-top: 25px;
    padding-top: 10px;
}

#fotoEnsino, #fotoServidores, #fotoRedesSociais, #fotoProcesso {
    padding-left: 25px;
    width: 97%;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#text-phone, #text-funcionamento, #text-email {
    display:none;
}

#contatos i {
    width: 5%;
}

}

/* --------------------------------------------- */

@media (min-width: 380px) and (max-width: 479px) { /* #4*/

    .divNav1 ul {
        width:100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .divNav1 a {
        font-size: 13px;
        align-items: center;
        justify-content: center;
    }
    
    .divTitulo {
        height: 140px ;
    }
    
    .header-title {
        width: 100%;
        font-size: 16px;
        padding: 0px 20px 0px 0px;
    }
    
    #LogoPrincipalEscola {
        width: 180px;
        height: 100px;
        padding-left: 15px;
        padding-right: 10px;
    }
    
    .menuFlex {
        height: 70px;
        width: 100%;
    }
    
    .menuFlex li{
        align-items: center;
        justify-content: center;
        height: 70px;
        
    }
    
    .menuFlex a {
        font-size: 13px;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        height: 70px;
    }
    
    #titleInformacoes {
        font-size: 16px;
        margin-bottom: 0px;
        
    }
    
    h2, h3 {
        font-size: 16px;
    }
    
    h2 {
        margin-top: 0px;
        padding-top: 0px;
        padding-bottom: 5px;
    }
    
    p, td, th {
        font-size: 13px;
    }
    
    #text-missao li{
        font-size: 13px;
    }
    
    #textEndereco {
        font-size: 18px;
    }
    
    #donateBtn {
        font-size: 13px;
    }
    
    #fotoNossaInstituicao {
    
        padding-left: 25px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        width: 90%;
    }
    
    #fotoMissao {
        padding-left: 25px;
        width: 93%;
        margin-top: 0px;
        padding-top: 0px;
    }
    
    #fotoEstrutura, #fotoComunidade, #fotoFuncionamento, #fotoMatricula{
    
        padding-left: 25px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        width: 95%;
        margin-top: 25px;
        padding-top: 10px;
    }
    
    #fotoEnsino, #fotoServidores, #fotoRedesSociais, #fotoProcesso {
        padding-left: 25px;
        width: 97%;
        margin-top: 0px;
        padding-top: 0px;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    
    #text-phone, #text-funcionamento, #text-email {
        display:none;
    }
    
    #contatos i {
        width: 5%;
    }
    
    }

/* --------------------------------------------- */

@media (min-width: 480px) and (max-width: 579px) { /* #5*/

    .divNav1 ul {
        width:100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .divNav1 a {
        font-size: 16px;
        align-items: center;
        justify-content: center;
    }
    
    .divTitulo {
        height: 140px ;
    }
    
    .header-title {
        /* background-color: yellow; */
        width: 100%;
        font-size: 20px;
        padding: 0px 25px 0px 0px;
    }
    
    #LogoPrincipalEscola {
        width: 190px;
        height: 120px;
        padding-left: 20px;
        padding-right: 0px;
    }
    
    .menuFlex {
        height: 60px;
        width: 100%;
    }
    
    .menuFlex li{
        align-items: center;
        justify-content: center;
        height: 60px;
        
    }
    
    .menuFlex a {
        font-size: 14px;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        height: 60px;
    }
    
    #titleInformacoes {
        font-size: 16px;
        margin-bottom: 0px;
        
    }
    
    h2, h3 {
        font-size: 17px;
    }
    
    h2 {
        margin-top: 0px;
        padding-top: 0px;
        padding-bottom: 5px;
    }
    
    p, td, th {
        font-size: 14px;
    }
    
    #text-missao li{
        font-size: 14px;
    }
    
    #textEndereco {
        font-size: 17px;
    }
    
    #donateBtn {
        font-size: 14px;
    }
    
    #fotoNossaInstituicao {
    
        padding-left: 25px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        width: 90%;
    }
    
    #fotoMissao {
        padding-left: 25px;
        width: 93%;
        margin-top: 0px;
        padding-top: 0px;
    }
    
    #fotoEstrutura, #fotoComunidade, #fotoFuncionamento, #fotoMatricula{
    
        padding-left: 25px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        width: 95%;
        margin-top: 25px;
        padding-top: 10px;
    }
    
    #fotoEnsino, #fotoServidores, #fotoRedesSociais, #fotoProcesso {
        padding-left: 25px;
        width: 97%;
        margin-top: 0px;
        padding-top: 0px;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
      
    #contatos i {
        width: 5%;
    }

}
